@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the referral portal</h1>
    <p>Create your referrals quick and easy here.</p>

    <img src="/images/referrals.png" alt="referrals">
</div>
