@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About the referral portal</h1>
    <p>
        We have a single point of contact that receives referrals for a number of services.
        Staff working in the single point of contact need to be able to record these referrals onto the system
        which will then notify the manager of the service so they are aware of the new referral.
    </p>
    <img src="/images/referrals.png" alt="referrals">
</div>